{% include 'header.html' %}
{% load static %}
<!-- about section -->
<section class="about_section layout_padding">
    <div class="container ">

      <div class="row">
        <div class="col-md-6 ">
            <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    Owner and Founder
                  </h2>
                </div>
                <p style="text-align: justify;">
                 The foundation of secretsrecipes was led by  <strong> Pooja Rajak </strong>  A girl with dreamy eyes and vision. Pooja inclines Taste and recipes which turned into Hobby. She then moved towards making tastes and started delivering foods to their friends. Later She tested his hand in the Computer Science Engineering but couldn’t make it. This unfortunate failure gave rise to fortunate beginnings. The idea of Secret recipe strikes him and along with the guidance of her Mom & Dad the nation turned into reality.
                </p>
                
              </div>
         
        </div>
        <div class="col-md-6">
            <div class="img-box">
                <img src="{% static 'images/po.png' %}" style="width: 1000px;" alt="">
              </div>
        </div>
      </div>
    </div>
  </section>
<section class="about_section layout_padding">
    <div class="container ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/ss.png' %}" style="width: 1000px;" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Here for you
              </h2>
            </div>
            <p style="text-align: justify;">
              Secret recipe captures and combines the spirit of the nation and the impeccable taste of the Moghuls. Whether its Non-Vegetarian food, Continental or Chinese, we have it all for you. We are conveniently situated on core business street of Bhopal, the capital of Madhya Pradesh. Apart from being placed in the heart of the city, we are only at 10 min distance from main Mandideep . The restaurant offers the best food in Central India. Serving not only for dining, but it includes breakfast and lunch each day, while featuring upscale dining for dinner each evening. Choose from a selection of unique dishes blending local influences, organic products and grilled favorites with a creative twist.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% include 'footer.html' %}